#Kontakt_Wrapper2 {
	position: relative;
	width: 1160px;
	height: auto;
	background-color: white;
	margin: 0 auto;
	right: 0;
	left: 0;
	margin-top: 20px;
}

.Text_Box{
	margin-top: 25px;
	max-width: 575px;
	float: left;
	line-height: 125%;
}

.Title {
	font-size: 25px;
	margin-bottom: 20px;
}

.Kontakt_Form {
	max-width: 1000px;
	padding: 30px 0px;
	margin-left: 600px;
}

.Kontakt_Contents label, input, textarea {
	display: block;
}

.Kontakt_Contents input, textarea {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.Kontakt_Contents label input, label textarea {
	margin-top: 5px;
}

.Kontakt_Contents label {
	margin-bottom: 20px;
}

.Kontakt_Contents textarea {
	height: 200px;
	resize: none;
}

.Kontakt_Contents input[type="submit"], button {
	width: auto; 
}

.Muted {
	margin-top: 20px;
	color: #aaa;
	font-size: 25px !important;
}

/* Components */

.Panel1, .Panel2 {
	border: 1px solid #ddd;
	background: #f0f0f0;
	margin-bottom: 10px;
}

.Panel1 li {
	font-size: 15px;
	font-style: italic;
	color: red;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}

.Panel2 li {
	font-size: 15px;
	font-style: italic;
	color: green;
	text-align: center;
}

#Find_Os_Kort {
	position: relative;
	width: 1160px;
	height: 400px;
	margin-bottom: 20px;
}

